# All of these values are for an Ender 3 v1 using a 4.2.2 board. 
# I don't recommend trying to use this config on any other board or printer combination. It likely won't work anyway
[include mainsail.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235 # the max X value of your build plate
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235 # the max Y value of your build plate
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250 # the max value of your Z axis
position_min:-5

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# Your z offset is likely different. Use the "probe_calibrate" command within your Klipper interface to automatically adjust this. 
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
pin_move_time: 0.675
stow_on_each_sample: True
probe_with_touch_mode: True
x_offset: -43.5
y_offset: -8
#z_offset: 1.3

[safe_z_home]
home_xy_position: 117.5,117.5 # Center of Ender 3 print bed
speed: 50
z_hop: 10                 # Moves Z up 10mm
z_hop_speed: 10

[bed_mesh]
speed: 130
horizontal_move_z: 5
mesh_min: 15,15
mesh_max: 191.5,227 #This value will need to be adjusted after you get your new Z offset.  You can get this by subctracting your X and Y offsets within the bltouch section from 235. To get each respective value. "i.e. 235-43.5=191.5 my X value here"
probe_count: 5,3
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

# "BED_SCREWS_ADJUST" command. This command moves the extruder to each corner so that you can manually adjust your springs
[bed_screws]
screw1: 70.5,37.5
screw1_name: front left screw
screw2: 220,37.5
screw2_name: front right screw
screw3: 220,207.5
screw3_name: rear right screw
screw4: 70.5,207.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50

# "SCREWS_TILT_CALCULATE" command. This command probes each corner above the springs and trys to tell you exactly how much to turn the knob to assist in leveling the bed
[screws_tilt_adjust]
screw1: 70.5,37.5
screw1_name: front left screw
screw2: 220,37.5
screw2_name: front right screw
screw3: 220,207.5
screw3_name: rear right screw
screw4: 70.5,207.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

#This display section will ONLY WORK if you're using an Ender 3 v1 and 4.2.2 board.
#If you're using a 4.2.7 board these pins may be different causing this config to not work at all.
# If the config doesn't work either change the pins or comment out/remove this whole section. 
[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[output_pin beeper]
pin: PC6